<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Game Platform</title>
</head>
<body style="background-color:lightgray">
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Game Platform</h1>
        <h2>Welcome, {{user.username}}</h2>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard">Home</a>
            <a href="/edit" class="btn btn-info">Edit profile</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </nav>

    <!-- 'Featured Games' section [Optional] -->

    <!-- 'All Games' section [PL] -->
    <div>
        {% for game in all_games %}
            <!-- Game card -->
            <div>
                <p>[ image placeholder ]</p>
                <p><a href="/view/{{ game.id }}">{{ game.name }}</a></p>
            </div>
        {% endfor %}
    </div>

    <!-- 'All Users' section [HS] -->
    <div class="col-2 mx-auto" style="background-color:darkkhaki">
        <h2>Users:</h2>
        {% for other_user in all_users %}
            <!-- User card -->
            <div>
                <img src="../static/images/user-circle.png" alt="{{ other_user.username }}'s user icon">
                <h4>{{ other_user.username }}</h4>
                {% if other_user.id != user.id %}    {# makes sure we cannot add ourselves to friends list #}
                    <a href="/add/friend/{{ other_user.id }}">Add</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <!-- 'Collection' section [HS] -->
    <div>
        {% for game_owned in collection_games %}
            <div>   <!-- row for each game in collections -->
                <div>   <!-- container to hold image and game title -->
                    <!-- image placeholder -->
                    {{ game_owned.name }}</p>
                </div>
                <!-- container for view/remove buttons -->
                <div>
                    <!-- 'view' link is a placeholder, may need to change later-->
                    <button><a href="/view/game/{{ game_owned.id }}">View</a></button>
                    <button><a href="/remove/collection/game/{{ game_owned.id }}">Remove</a></button>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- 'Wishlist' section [HS] -->
    <div>
        {% for game_wanted in wishlist_games %}
            <div>   <!-- row for each game in wishlist -->
                <div>   <!-- container to hold image and game title -->
                    <!-- image placeholder -->
                    <p>{{ game_wanted.name }}</p>
                </div>
                <!-- container for view/remove buttons -->
                <div>
                    <!-- 'view' link is a placeholder, may need to change later-->
                    <button><a href="/view/game/{{ game_wanted.id }}">View</a></button>
                    <button><a href="/remove/collection/game/{{ game_wanted.id }}">Remove</a></button>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- 'Friends' section [HS] -->
    <div>
        {% for friend in all_friends %}
            <div> <!-- row for each user in friends list -->
                <img src="../static/images/user-circle.png" alt=" {{ friend.username }}'s user icon">
                <p>{{ friend.username }}</p>
            </div>
            <button><a href="/remove/friend/{{ friend.id }}"></a></button>
        {% endfor %}
    </div>
</body>

</html>