<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Game Platform</title>
</head>

<body style="background-color:lightgray">
    <!-- navbar -->
    <nav class="d-flex justify-content-between align-items-center bg-dark text-warning px-2">
        <h1>Game Platform</h1>
        <a href="/" class="btn btn-info">Home</a>
    </nav>

    <div>
        <form action="/new/register" method="post" class="col-4 p-4 mx-auto">
            <h2 class="text-center">Register</h2>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="username">User Name:</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password:</label>
                <input type="password" name="confirm_password" class="form-control">
            </div>
            <input type="submit" value="Register" class="btn btn-warning float-right">
            <p><a href="/">Click here to log in</a></p>
        </form>
    </div>
</body>

</html>