.border-2-grey {
    border: 2px solid #6c757d;
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.25rem !important;
}

.col-user-card {
    flex: 0 0 auto;
    width: 12%;
}

.user-card-fixed-ht {
    height: 164px;
}

.user-icon, .game-icon {
    width: 4rem;
}

.bg-faded-purple {
    background-color: #8984BE;
}

.bg-faded-grey {
    background-color: rgb(167, 167, 167);
}

.border-radius-xs {
    border-radius: 0.25rem;
}