.border-2-grey {
    border: 2px solid #6c757d;
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.25rem !important;
}

.col-user-card {
    flex: 0 0 auto;
    width: 12%;
}

.user-card-fixed-ht {
    height: 164px;
}

.user-icon, .game-icon {
    width: 4rem;
}

.nav-user-icon {
    width: 2.2rem
}

.bg-faded-purple {
    background-color: #8984BE;
}

.bg-faded-grey {
    background-color: rgb(167, 167, 167);
}

.border-radius-xs {
    border-radius: 0.25rem;
}

.collect-wish-fixed-ht {
    height: 350px;
}

.friends-fixed-ht {
    height: 98%;
}

h3 {
    margin-top: 0;
    margin-bottom: 0 !important;
    font-weight: 500;
    line-height: 1.2;
}